{% extends "dvd_base.html" %}
    {% block custom_js_2%}<script type="text/javascript" src=" {{dvd_js}}"></script>{% endblock%}

    <!--{% block custom_css %}-->
        <!--table,th,td {border: 1px solid black;}-->
        <!--td { text-align: center;}-->
    <!--{% endblock %}-->

    {% block custom_css_2%}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

    background-color: #fefefe;
    margin: 20px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-body{
    max-height:80%;
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
<!--.box {-->
  <!--width: 40%;-->
  <!--margin: 0 auto;-->
  <!--background: rgba(255,255,255,0.2);-->
  <!--padding: 35px;-->
  <!--border: 2px solid #fff;-->
  <!--border-radius: 20px/50px;-->
  <!--background-clip: padding-box;-->
  <!--text-align: center;-->
<!--}-->

ul.sample-img-row {
  white-space: nowrap;
}

ul.sample-img-row, li {
  list-style: none;
  display: inline;
}

{% endblock %}


{% block title_2%}DMM18 LIB{% endblock%}
{% block info%}
<p style="font-weight: bold;">{{info["title"]}}</p>
    <table class="table table-bordered">

        <tr><td>编号</td><td>{{ info["cid"] }}</td></tr>
        <tr><td>收藏</td><td>{{ info["favorite"] }}</td></tr>
        <tr><td>类型</td><td>{{ info["dvd_type"] }}</td></tr>
        <tr><td>网络发行日期</td><td>{{ info["delivery_date"] }}</td></tr>
        <tr><td>DVD发行日期</td><td>{{ info["release_date"] }}</td></tr>
        <tr><td>时长</td><td>{{ info["duration"] }}</td></tr>
        <tr><td>女优</td><td>
            {% set performers = info["performers"].split('|') %}
            {% for performer in performers %}
                <a href='/actor/id={{performer}}'>{{performer}}</a>
            {% endfor %}
        </td></tr>
        <tr><td>导演</td><td>{{ info["director"] }}</td></tr>
        <tr><td>系列</td><td>{{ info["series"] }}</td></tr>
        <tr><td>制片商</td><td>{{ info["maker"] }}</td></tr>
        <tr><td>发行商</td><td>{{ info["label"] }}</td></tr>
        <tr><td>标签</td><td>{{ info["genre"] }}</td></tr>
        <tr><td>VR</td><td>{{ info["vr"] }}</td></tr>
        <tr><td>品番号</td><td>{{ info["identifier"] }}</td></tr>
        <tr><td>评分</td><td>{{ info["rate"] }}({{info["rate_num"]}}人打分)</td></tr>
        <tr><td>样片</td><td>
            <ul>
                {% for video in sample_videos %}
                <li><a onclick="return false;" href='{{video["link"]}}' class="sample_video">码率{{video["bitrate"]}}</a></li>
                {% endfor%}
            </ul>

        </td></tr>
    </table>
{%endblock%}
{% block post_img%}

    <img src="{{post_img}}" alt="post_l"  width="100%" style="max-height:700px;" class="img-responsive">
{% endblock%}

     <!--<table align='center'>-->
        <!--<tr><th>码率</th><th>链接</th></tr>-->
        <!--{% for video in sample_videos %}-->
        <!--<tr><td>{{ video["bitrate"] }}</td>-->
        <!--<td><a onclick="return false;" href='{{video["link"]}}' class="sample_video">样片(码率{{video["bitrate"]}})</a></td>-->
        <!--</tr>-->
        <!--{% endfor %}</table>-->


{% block sample_imgs%}


        {% for imgs in sample_imgs %}

                 <ul class="sample-img-row">
                {% for img in imgs %}

                <li class="sample-img-element"><a href="#" onclick="return false;"><img src="{{img['link']}}" alt="sample_img" class="img_s img-thumbnail" ></a></li>

                    {% endfor %}
                 </ul>

        {% endfor %}



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
  <div class="modal-header">
    <span id="close-display" class="close">&times;</span>
    <p>{{info['title']}}</p>
      <div class="well">
        <p>广告位</p>
      </div>
  </div>
  <div class="modal-body">
      <div class="content text-center" id="display"></div>
  </div>
  <div class="modal-footer">
    <div class="well">
        <p>广告位</p>
      </div>
  </div>
</div>

</div>

<!--<div id="popup1" class="overlay">-->
	<!--<div class="popup">-->
		<!--<h2>Here i am</h2>-->
		<!--<a class="close" href="#" onclick="document.getElementById('display').innerHTML='';">&times;</a>-->
		<!--<div class="content" id="display">-->

		<!--</div>-->
	<!--</div>-->
<!--</div>-->

    {% endblock %}




