{% extends "base.html" %}
{% block title%} Title {% endblock %}
{% block custom_css %}
li {
            list-style: none;
            display: inline;
        }

{% endblock%}
{% block content %}
<div class="container-fluid text-center">
<nav aria-label="Page navigation example" >






    <ul class="pagination">
        <li>
            <a class="page-link" href="../page={{current_page}}&mode=list" ><span class="badge">列表</span></a>
        </li>
        {%set next_page=[current_page+1,page_num]|sort|first%}
        {%set prev_page=[current_page-1,1]|sort(reverse=True)|first%}

            {% if current_page >1%}
                   <li class="page-item">  <a class="page-link" href="../page={{prev_page}}&mode={{mode}}">前一页</a></li>
{%else%}
                    <li class="page-item">  <a class="page-link" >前一页</a></li>
            {%endif%}

        {% for page in range(1,page_num+1) %}


            {% if page == current_page %}
                <li class="page-item active">
                    <a class="page-link" tabindex="-1">{{page}}</a>
                    </li>
            {% else %}
                <li class="page-item"><a class="page-link"  href="../page={{page}}&mode={{mode}}">{{page}}</a></li>
            {%endif%}

        {% endfor %}
        {% if current_page < page_num%}
                  <li class="page-item">
            <a class="page-link" href="../page={{next_page}}&mode={{mode}}">后一页</a></li>
         {%else%}
                    <li class="page-item">  <a class="page-link" >后一页</a></li>
            {%endif%}



    </ul>

    </nav>
</div>
<div class="row">
     {% set offset=(current_page-1)*itemsPerPage%}
    {% for info in results %}

            <div class="col-lg-2 col-md-4 col-xs-6 thumb text-left">
                <a class="thumbnail" href="/video/cid={{info['cid']}}">
                    <img height = "100%" class="  img-responsive" src="{{info['img']}}" alt="">
                    <ul>
                        <li>
                                {%if offset+results.index(info)+1 < 100%}
                <span class="badge" style="background-color:red;">{{ offset+results.index(info)+1 }}</span>
            {%else%}
                <span class="badge" >{{ offset+results.index(info)+1 }}</span>
            {%endif%}



                        </li>

                        <li><span class="badge"> {{info['rate']}}分</span></li>
                         <li><span class="badge"> {{info['rate_num']}}人打分</span></li>

                    </ul>
                    <h4 align="center" style="font-weight: bold;">{{info["identifier"]}}</h4>
                <p align="center">
                    <span class="label label-default"> {{info['release_date']}}</span><span class="label label-default">{{info['favorite']}}人收藏</span>
                </p>



                </a>

            </div>


    {% endfor%}


</div>


<div class="container-fluid text-center">
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {%set next_page=[current_page+1,page_num]|sort|first%}
        {%set prev_page=[current_page-1,1]|sort(reverse=True)|first%}

            {% if current_page >1%}
                   <li class="page-item">  <a class="page-link" href="../page={{prev_page}}&mode={{mode}}">前一页</a></li>
{%else%}
                    <li class="page-item">  <a class="page-link" >前一页</a></li>
            {%endif%}

        {% for page in range(1,page_num+1) %}


            {% if page == current_page %}
                <li class="page-item active">
                    <a class="page-link" tabindex="-1">{{page}}</a>
                    </li>
            {% else %}
                <li class="page-item"><a class="page-link"  href="../page={{page}}&mode={{mode}}">{{page}}</a></li>
            {%endif%}

        {% endfor %}
        {% if current_page < page_num%}
                  <li class="page-item">
            <a class="page-link" href="../page={{next_page}}&mode={{mode}}">后一页</a></li>
         {%else%}
                    <li class="page-item">  <a class="page-link" >后一页</a></li>
            {%endif%}



    </ul>
    </nav>
</div>


{% endblock%}